.title-text{
  font-size: 20px;
  line-height: 1.5;
  color: #20364b;
  font-weight: 600;
  font-family: 'ProximaNova', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.todo-item {
  margin-bottom: 20px;
}
